body {
    background-color:black;
}

div {
    margin-top:35px;
    text-align:center;
    color:palevioletred;
    font-family:Cubano;
}

p {
    font-size:9em;
}

button {
    width:40%;
    height:300px;
    font-size:15em;
    font-family:Cubano;
    color:black;
    text-align:center;
    background-color:palevioletred;
    border-width:8px;
}